#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --sparkle-blue: #2c3cf1ff;
  --sparkle-green: #2fe6a3ff;
  --seconds: 2s;
}

@property --deg {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin {
  0% {
    --deg: 0deg;
  }
  100% {
    --deg: 360deg;
  }
}

.ufo-container {
  position: relative;
  display: grid;
  place-items: center;
}

.glow::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  animation: spin var(--seconds) infinite linear;
  background: linear-gradient(
    var(--deg),
    var(--sparkle-blue) 0%,
    var(--sparkle-blue) 5%,
    var(--sparkle-green) 95%,
    var(--sparkle-green) 100%
  );
  filter: blur(40px);
  z-index: -1;
}

.ufo-matte {
  animation: spin var(--seconds) infinite linear;
  background: linear-gradient(
    var(--deg),
    var(--sparkle-blue) 0%,
    var(--sparkle-blue) 20%,
    var(--sparkle-green) 80%,
    var(--sparkle-green) 100%
  );
  width: calc(163px + 2px);
  height: calc(39px + 2px);
  /* width: 200px; */
  /* height: 200px; */
  border-radius: 8px;
  /* border-radius: 50%; */
  position: absolute;
}

@keyframes bg {
  0% {
    background: #3b3b3b;
  }
  50% {
    background: #4f4f4fff;
  }
  100% {
    background: #3b3b3b;
  }
}

.ufo-text {
  border: 4px solid transparent;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  position: absolute;
}
