#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@property --deg {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin {
  0% {
    --deg: 0deg;
  }
  100% {
    --deg: 360deg;
  }
}
.ufo-container {
  position: relative;
  display: grid;
  place-items: center;
}

.glow::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  animation: spin 6s infinite linear;
  background: linear-gradient(
    var(--deg),
    #6a5cff 0%,
    #6a5cff 5%,
    #40e0d0 95%,
    #40e0d0 100%
  );
  filter: blur(40px);
  z-index: -1;
}

.ufo-matte {
  animation: spin 6s infinite linear;
  background: linear-gradient(
    var(--deg),
    #6a5cff 0%,
    #6a5cff 20%,
    #40e0d0 80%,
    #40e0d0 100%
  );
  width: calc(163px + 2px);
  height: calc(39px + 2px);
  /* width: 200px; */
  /* height: 200px; */
  border-radius: 8px;
  /* border-radius: 50%; */
  position: absolute;
}

.ufo-text {
  border: 4px solid transparent;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  position: absolute;
}
